<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/me.jpg" alt="my profile"><br><br>
  <h5>Brijit Adak</h5>

  <p>
  <div>
    <b>About</b>
    <hr>
    Profile : Full Stack Developer.<br>
    Course : B.Tech <br>
    University : Kalinga Institute of Industrial Technology<br>
    Passing Year : 2025<br>
    Current CGPA : 9+<br><br>
    <b>Technical Skills</b>  
    <hr>
    Languages: Java, C, C++ , HTML, CSS, JavaScript, ejs, SQL, Git<br>
    Developer Tools: VS Code<br>
    Technologies/Frameworks: Github, Bootstrap, Express, Node, React<br><br>

    <b>Achievement/ Extracurricular</b>
    <hr>

    ∗ 5 star Gold Badge in java in Hacker Rank<br>
    ∗ Problem Solving certificate in Hacker Rank.<br>
    ∗ National Scholarship Holder under CENTRAL SECTOR SCHEME OF SCHOLARSHIPS FOR COLLEGE AND UNIVERSITY STUDENTS<br>
    ∗ Selected in K-200 in KIIT among 3000+ students.<br>
    ∗ Currently in Ninja Dominator league in Coding Ninjas.<br>

  </div>
  </p>
  <%- include("partials/footer.ejs") %>