<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Hello there, I'm Brijit Adak and this is my portfolio page.<br>
  </p>
  <p>
    A hard working and motivated individual with a desire for perfection. A result oriented 
person with a clear objective and wanting to explore the vast fields of computer science and 
engineering.</p>
<p>Languages: Bengali, English, Hindi</p>
<p>Hobbies: Programming, Photography, Editing</p>
  <%- include("partials/footer.ejs") %>